extends page_template.pug
include image_frame_mixin.pug

block content 
  section#about
    h2: strong Hello there!
    .vertical-centered.mx-3
      +image_frame_mixin(require('../assets/images/kittycat.jpg'))(class='center_square')
    
    <br>
    include:markdown-it(linkify, html) ./markdown/education.md

  hr

  section#code
    h3 Projects
    include:markdown-it(linkify, html) ./markdown/code.md
   
  hr

  section#contact
    h3 Links:
    .link-collection
      span: a(href='https://www.linkedin.com/in/pedro-perez-8673b0189/') linkedIn
      span: a(href='https://github.com/PAPDR') GitHub

